@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding-top: 1.875rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 189px;
  height: 201px;
}

.header__logo img {
  width: 100%;
}

.header__phone {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.header__phone:hover {
  text-decoration: underline;
}

.header__mail {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #EF7608;
}

.header__mail:hover {
  text-decoration: none;
}

.header__country {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  white-space: nowrap;
}

.header__button {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #EF7608;
}

.header__button:hover {
  text-decoration: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: #2058B8;
  padding: 6.875rem 0rem 7.5rem 9.375rem;
  position: relative;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 50%;
  max-width: 640px;
}

.footer__logo {
  width: 189px;
}

.footer__logo img {
  width: 100%;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}

.footer__link {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link img {
  width: 32px;
  height: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.footer__addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__addres img {
  width: 32px;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.footer__map {
  background: rgb(119, 117, 117);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.footer__map #map {
  height: 100%;
}

.first-block {
  position: relative;
  padding-top: 20.625rem;
  padding-bottom: 16.5rem;
}

.first-block__content {
  position: relative;
  z-index: 2;
  color: #fff;
  max-width: 654px;
}

.first-block__title {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  color: #1D60D4;
}

.first-block__link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  background: #EF7608;
  border-radius: 10px;
  padding: 1.4375rem 1.75rem;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.first-block__desrc {
  font-size: 35px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 583px;
}

.first-block__image-ibg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.center-block {
  padding-top: 6.5rem;
  padding-bottom: 10rem;
}

.center-block__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
}

.center-block__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

.center-block__content {
  font-size: 35px;
  line-height: 45px;
  color: #393E3F;
}

.center-block__title {
  margin-bottom: 2.5rem;
}

.center-block__descr {
  margin-bottom: 2.5rem;
}

.center-block__list {
  font-size: 25px;
  line-height: 25px;
  color: #000;
}

.center-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.center-block__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.center-block__item::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  background: #EF7608;
}

@media (max-width: 90em) {
  .footer {
    padding: 6.25rem 0rem 0rem 0rem;
  }

  .footer__content {
    margin-bottom: 6.25rem;
    width: 100%;
  }

  .footer__title br {
    display: none;
  }

  .footer__map {
    width: calc(100% + 40px);
    height: 450px;
    position: static;
    margin: 0 -20px;
  }
}

@media (max-width: 80.06125em) {
  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 1fr;
    grid-template-columns: 100px 1fr;
    -ms-grid-rows: (auto)[4];
    grid-template-rows: repeat(4, auto);
    justify-items: end;
    gap: 15px;
  }

  .header__logo {
    width: auto;
    height: auto;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }

  .header__phone {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .header__mail {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .header__country {
    display: none;
  }

  .header__button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .first-block {
    padding-top: 12.5rem;
    padding-bottom: 7.5rem;
  }

  .first-block__title {
    font-size: 50px;
    line-height: 50px;
  }

  .first-block__link {
    padding: 1.25rem;
    font-size: 25px;
    line-height: 25px;
  }

  .first-block__desrc {
    font-size: 25px;
    line-height: 35px;
    max-width: 420px;
  }

  .center-block {
    padding: 6.25rem 0;
  }

  .center-block__content {
    font-size: 30px;
    line-height: 35px;
  }

  .center-block__list {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 68.75em) and (max-width: 48em) {
  .first-block__image-ibg {
    width: 81.25rem;
  }
}

@media (max-width: 61.99875em) {
  .center-block__container {
    gap: 50px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .center-block__logo {
    height: 200px;
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding-top: 0.9375rem;
  }

  .header__phone {
    display: none;
  }

  .header__mail {
    display: none;
  }

  .header__country {
    display: none;
  }

  .header__button {
    grid-column: auto;
    grid-row: auto;
  }

  .footer {
    padding: 3.125rem 0rem 0rem 0rem;
  }

  .footer__content {
    gap: 20px;
    margin-bottom: 3.125rem;
  }

  .footer__logo {
    width: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }

  .footer__link {
    font-size: 24px;
    margin-left: -3.75rem;
    gap: 30px;
  }

  .footer__addres {
    font-size: 16px;
    margin-left: -3.75rem;
    gap: 30px;
  }

  .first-block {
    padding: 10rem 0 6.25rem;
  }

  .first-block__title {
    font-size: 35px;
    line-height: 35px;
  }

  .first-block__link {
    font-size: 18px;
    line-height: 18px;
  }

  .first-block__desrc {
    font-size: 18px;
    line-height: 24px;
    max-width: 300px;
  }

  .first-block__image-ibg {
    width: 120%;
  }

  .center-block {
    padding: 3.125rem 0;
  }

  .center-block__container {
    gap: 20px;
  }

  .center-block__content {
    font-size: 20px;
    line-height: 25px;
  }

  .center-block__list {
    font-size: 18px;
    line-height: 18px;
  }

  .center-block__item {
    gap: 15px;
  }

  .center-block__item::before {
    width: 18px;
    height: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18px;
            flex: 0 0 18px;
  }
}

@media (max-width: 29.99875em) {
  .footer__title {
    font-size: 26px;
    line-height: 38px;
  }

  .first-block__image-ibg {
    width: 180%;
  }
}

@media (max-width: 23.125em) {
  .header__button {
    font-size: 20px;
  }

  .first-block__link {
    padding: 0.9375rem;
  }
}

@media (max-width: 68.75em) and (min-width: 68.75em) {
  .first-block__image-ibg {
    width: 68.75rem;
  }
}

@media (max-width: 68.75em) and (min-width: 48em) and (max-width: 68.75em) {
@supports (width: clamp( 68.75rem , 110.1656626506rem  +  -60.2409638554vw , 81.25rem )) {
    .first-block__image-ibg {
      width: clamp( 68.75rem , 110.1656626506rem  +  -60.2409638554vw , 81.25rem );
    }
}

@supports not (width: clamp( 68.75rem , 110.1656626506rem  +  -60.2409638554vw , 81.25rem )) {
    .first-block__image-ibg {
      width: calc(81.25rem + -12.5 * (100vw - 48rem) / 20.75);
    }
}
}